
h1, h2 {
  color: #333;
  font-family: 'Arial', sans-serif;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #005bb5;
}

.experience div {
  margin-bottom: 20px;
}

main{
  margin-top: 100px;
}
