.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 50px; /* Define la altura del header */
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav a:hover {
  color: #61dafb;
}
